@import url("./reset.css");
@import url("./layout.css");
@import url("./theme.css");
@import url("./typography.css");

::selection {
  background: var(--theme-primary-hover);
  color: var(--theme-on-primary);
}

body {
  accent-color: var(--theme-primary);

  &:has(:not(:defined)) {
    visibility: hidden;
  }
}
