:root {
  --container-max-width-narrow: 960px;
  --container-max-width: 1440px;
  --container-padding: 0 1rem;
  --default-section-margin: 3rem;
  --theme-grid-gap: 1rem;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--theme-bg);
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--default-section-margin);
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
