#map {
  --attribution-font-size: clamp(10px, 1vw, 16px);
  --attribution-line-height: 1.4;
  --attribution-height: calc(
    var(--attribution-font-size) * var(--attribution-line-height)
  );

  height: 100%;
  width: 100%;

  .loading {
    background-color: rgba(196, 221, 231, 0.6);
    border-radius: var(--theme-button-border-radius);
    border: 1px solid currentColor;
    font-size: 1.4rem;
    left: 50%;
    line-height: 1.1;
    padding: 0.5rem 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;

    span {
      display: block;
      margin: 1rem;
    }

    .spin {
      animation: spin 1s ease infinite forwards;
    }
  }

  svg {
    stroke: white;
    color: var(--theme-primary);
  }

  .leaflet-control-attribution {
    font-size: var(--attribution-font-size);
    line-height: var(--attribution-line-height);
  }

  .leaflet-popup-content > section {
    padding-bottom: 22px;
  }

  button {
    background: none !important;
    border: none;
    color: #069;
    cursor: pointer;
    float: right;
    font-family: inherit;
    padding: 0 !important;
    text-decoration: underline;
  }

  .pill {
    transform: translateX(-8px);
  }

  .leaflet-bottom {
    z-index: 1002 !important;
  }

  .full-details {
    background: white;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    cursor: initial;
    height: 50%;
    left: 0 !important;
    margin: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 1rem 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 0 !important;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    z-index: 1002;

    &.show {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

    p,
    h3 {
      margin: 0;
    }

    h3 {
      line-height: 1;
      margin-bottom: 0.75rem;
    }

    h3:last-of-type {
      border-bottom: 1px solid var(--theme-surface-1);
      padding-bottom: 0.75rem;
    }

    dl {
      display: grid;
      grid-template-columns: auto 1fr;
      margin-top: 1rem;
    }

    dt,
    dd {
      padding: 0.25rem 0.5rem;
    }

    dt {
      background: var(--theme-surface-1);
      border-bottom: 1px solid white;
      text-align: right;
    }

    dd {
      border-bottom: 1px solid var(--theme-surface-1);
      font-weight: bold;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  @media (min-width: 700px) {
    .full-details {
      bottom: var(--attribution-height);
      height: calc(100% - var(--attribution-height));
      left: auto !important;
      right: 0 !important;
      transform: translateX(100%);
      width: clamp(250px, 400px, 40vw);
      z-index: 1000;

      &.show {
        transform: translateX(0);
      }
    }
  }
}

.auto-search-wrapper {
  display: none;
  left: calc(34px + 20px);
  position: absolute;
  top: 10px;
  width: min(250px, calc(100vw - 34px - 20px - 48px - 20px));
  z-index: 999;

  input {
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 45px 10px 35px;

    &:focus {
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }

  .auto-results-wrapper.auto-is-active {
    background-clip: padding-box;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    max-width: calc(100vw - 34px - 20px - 10px);
    overflow-y: auto;
    transform: translateY(2px);
    width: max-content;
  }

  ul {
    min-width: min(500px, 80vw);
  }

  li {
    outline: 1px solid rgba(0 0 0 / 0.05);

    span {
      float: right;
    }
  }

  .auto-selected {
    background-color: var(--theme-surface-1);
  }

  mark {
    background: none;
    color: var(--theme-primary);
    font-weight: bold;
    outline: 1px solid rgba(218 165 32 / 0.6);
  }
}

.pill {
  color: white;
  background: var(--theme-primary);
  border-radius: var(--theme-button-border-radius);
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 2px 8px;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
