:root {
  /* Theme Colors */
  --theme-primary: darkgoldenrod;
  --theme-primary-hover: goldenrod;
  --theme-on-primary: hsl(0, 0%, 100%);

  --theme-bg: #eeeff1;
  --theme-on-bg: #272f27;

  --theme-surface-1: #e6e4e0;
  --theme-on-surface-1: #272f27;

  --theme-surface-2: #c4dde7;
  --theme-on-surface-2: #272f27;

  /* Theme Shapes */
  --theme-shape-radius: 0.5rem;
  --theme-button-border-radius: 0.5rem;

  /* Theme Transition */
  --theme-transition: 0.2s ease-in-out;

  /* Fonts */
  --theme-font-family-heading: "Krub", Verdana, Geneva, sans-serif;
  --theme-font-family-body: "Krub", Verdana, Geneva, sans-serif;
}
