---
import BaseHead from "@components/BaseHead.astro";
import SkipLink from "@components/ui/SkipLink.astro";
import type { Props as BaseHeadProps } from "@components/BaseHead.astro";

export interface Props {
  seo?: BaseHeadProps;
  isVersionOf?: string;
}

const { seo, isVersionOf } = Astro.props;
---

<html lang="en">
  <BaseHead {...seo} {isVersionOf} />
  <body>
    <SkipLink />
    <slot name="header" />
    <main id="content">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
