---
import Layout from "@layouts/Page.astro";

import Button from "@components/ui/Button.astro";
import Container from "@components/ui/Container.astro";
import TextCardSection from "@components/ui/TextCardSection.astro";
---

<Layout>
  <Container>
    <TextCardSection>
      <h1 style="margin-bottom:var(--default-section-margin);">
        404: Page Not Found 👀
      </h1>
      <Button href="/">Return Home</Button>
    </TextCardSection>
  </Container>
</Layout>
