---
import Layout from "@layouts/Page.astro";

import "leaflet/dist/leaflet.css";
import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";
import "@styles/map-styles.css";
---

<Layout>
  <section id="map"></section>
  <script src="@scripts/main-map.mjs"></script>
</Layout>
