---
import Layout from "@layouts/Page.astro";

import "leaflet/dist/leaflet.css";
import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";
import "@vendor/autocomplete.min.css";
import "@styles/map-styles.css";
---

<Layout>
  <section id="map">
    <div class="auto-search-wrapper loupe">
      <input
        type="text"
        autocomplete="off"
        id="search"
        placeholder="search..."
      />
    </div>
    <span class="loading">Loading site data...<span class="spin">⌛</span></span
    >
  </section>
  <script src="@scripts/main-map.mjs"></script>
</Layout>
