---
const { narrow, noMargin, alignMiddle } = Astro.props;
---

<section
  class:list={[{ narrow, "no-margin": noMargin, "align-middle": alignMiddle }]}
>
  <slot />
</section>

<style>
  section {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: var(--container-padding);
    width: 100%;

    &:not(.no-margin) {
      margin: var(--default-section-margin) auto;
    }

    &.narrow {
      max-width: var(--container-max-width-narrow);
    }

    &.align-middle {
      display: flex;
      align-items: center;
    }
  }
</style>
