---
const { narrow } = Astro.props;
---

<div class:list={[{ narrow }]}>
  <slot />
</div>

<style>
  div {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: var(--container-padding);
  }
  .narrow {
    max-width: var(--container-max-width-narrow);
  }
</style>
