---
import Container from "@components/ui/Container.astro";
const { surfaceNumber = 1 } = Astro.props;
---

<section style={`background-color: var(--theme-surface-${surfaceNumber});`}>
  <Container narrow>
    <slot />
  </Container>
</section>

<style>
  section {
    margin: var(--default-section-margin) auto;
    padding: clamp(10vh, 12vh, 18vh) 2rem;
    border-radius: var(--theme-shape-radius);
  }
</style>
